@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.footerMenu a, p {
   font-size: 12px;
   color: #000000;
}

.footerMenu a:hover {
   text-decoration: underline!important;
}

.header{
   background-color: #000000;
}

.textHeader {
   color:#ffffff;
   font-style:normal;
   font-weight:900;
}

.newsLinks a {
   color: #fdb92a;
   font-size: 12px;
}

.newsLinks a:hover{
   color: #2a6496;
   text-decoration: underline!important;
}

/* Small only */
@media only screen and (max-width: 596px){
   .textHeader {
     font-size: 20px!important;
     text-align: left!important;
     color: #000000;
   }
   .header {
      background-color: #ffffff!important;
   }
   .header .wrapper-inner {
      padding: 10px 0px;   
   }
   .copyright {
      text-align: center;
   }

}
