<columns small="12" large="6" class="newsLinks">
     <spacer size="12"></spacer>  
        <h5>{{sidebar-title}}</h5>
        <a href="{{news-url1}}" >{{news-title1}}</a><br/>
        <a href="{{news-url2}}" >{{news-title2}}</a><br/>
        <a href="{{news-url3}}" >{{news-title3}}</a><br/>
        <a href="{{news-url4}}" >{{news-title4}}</a><br/>
        <a href="{{news-url5}}" >{{news-title5}}</a><br/>
        

     <spacer size="12"></spacer>  
        <h5 >{{category-title}}</h5>
        <a href="{{category-url1}}">{{category1}}</a><br/>
        <a href="{{category-url2}}">{{category2}}</a><br/>
        <a href="{{category-url3}}">{{category3}}</a><br/>
        <a href="{{category-url4}}">{{category4}}</a><br/>
        <a href="{{category-url5}}">{{category5}}</a><br/>
</columns> 